body{
    background-color: black;
    color: rgb(240, 216, 74);
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;

}
header{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li{
    display: inline-block;
    margin: 25px;
}

a{
    font-family: poppinsmedium;
    color: rgb(252, 216, 0) ;
}

a:hover{
    color: rgb(247, 93, 68) ;
    transition: 0.3s all;
}

#Idealizadores-btn{
    border: 2px solid rgb(247, 93, 68);
    padding: 10px;
    border-radius: 20px;

}

#Formuláriobandas-btn{
    border: 2px solid rgb(247, 93, 68);
    padding: 10px;
    border-radius: 20px;
}
#Formulárioartistas-btn{
    border: 2px solid rgb(247, 93, 68);
    padding: 10px;
    border-radius: 20px;
}

img{
    width: 250px;
}

h2{
    font-family: doobieregular;
    display: flex;
    font-size: 44px;
    line-height: 15px;
    border: 1px;
    border-color: black;
}


main{
    color: rgb(252, 216, 0);
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

p{
    font-size: 22px;
    line-height: 20px;
    max-width: 500px;
    font-family: poppinsmedium;
}


h3{
    position: absolute;
}